
  <div class="col-md-12" style="margin: 25px;"  >

<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [dataLabels]="chartOptions.dataLabels"
    [grid]="chartOptions.grid"
    [stroke]="chartOptions.stroke"
    [title]="chartOptions.title"
    [labels]="chartOptions.labels"
    [annotations]="chartOptions.annotations"
  ></apx-chart>
</div>

<!--The content below is only a placeholder and can be replaced.-->


</div>



<!-- <div class="col-md-12">
  <div id="chart"  >
    <apx-chart
      [series]="chartOptions1.series"
      [chart]="chartOptions1.chart"
      [xaxis]="chartOptions1.xaxis"
      [stroke]="chartOptions1.stroke"
      [tooltip]="chartOptions1.tooltip"
      [dataLabels]="chartOptions1.dataLabels"
      [legend]="chartOptions1.legend"
      [markers]="chartOptions1.markers"
      [grid]="chartOptions1.grid"
      [yaxis]="chartOptions1.yaxis"
      [title]="chartOptions1.title"
    ></apx-chart>
  </div>
</div> -->

