<!-- Container-fluid starts -->
<div class="container-fluid">
	<div class="row">

		<div class="col-xl-12 xl-1000 col-lg-12">

			<div class="card">



					<!-- <h5 class="pull-left">Select Shape</h5> -->








				<div class="card-body">
					<ngb-tabset #t="ngbTabset" class="nav-success">
						<ngb-tab id="tab-selectbyid1">
							<ng-template ngbTabTitle class="nav"><i class="icofont icofont-document-folder"></i>Employee
							</ng-template>
							<ng-template ngbTabContent>

                <div class="container-fluid">

                  <div class="border">
                    <button class="btn btn-md btn-outline-primary" (click)="open(content)" >
                      <i class="fa fa-user"></i>New Employee</button>
                  </div>



                  <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>ID</th>
                      <th>RFID</th>
                      <th>Group</th>
                      <th>Email</th>
                      <th>Password</th>
                      <th>Role</th>
                      <th>Department</th>
                      <th>Action</th>


                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let items of Emps">
                      <td><span>{{items.id}}</span></td>
                      <td><span>{{items.empname}}</span></td>
                      <td><span>{{items.empnid}}</span></td>
                      <td><span>{{items.empnuid}}</span></td>
                      <td><span>{{items.groups}}</span></td>
                      <td><span>{{items.emailid}}</span></td>
                      <td><span>{{items.password}}</span></td>

                      <td><span>{{items.role}}</span></td>
                      <td><span>{{items.dept}}</span></td>
                      <td>
                        <button class="btn btn-sm btn-info" (click)="openDetails(contentDeatils, items)">
                          <i class="fa fa-search"></i>Details</button>
                        <button class="btn btn-sm btn-warning" (click)="openEdit(contentEdit, items)">
                          <i class="fa fa-edit"></i>Edit</button>
                        <button class="btn btn-sm btn-danger" (click)="openDelete(contentDelete, items)">
                          <i class="fa fa-remove"></i>Delete</button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  </div>



                <ng-template #content let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title">Department</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>


                      <div class="form-row">
                      <div class="form-group col-md-6"  >
                        <label for="empname">Name</label>
                        <div class="input-group">
                          <input id="empname" name="empname" class="form-control" ngModel>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="empnid">empnid</label>
                        <div class="input-group">
                          <input id="empnid" name="empnid" class="form-control" ngModel>
                        </div>
                      </div>

                      </div>
                      <div class="form-row">
                        <div class="form-group col-md-6"  >
                          <label for="dept">dept</label>
                          <div class="input-group">
                            <input id="dept" name="dept" class="form-control" ngModel>
                          </div>
                        </div>
                        <div class="form-group col-md-6">
                          <label for="address">address</label>
                          <div class="input-group">
                            <input id="address" name="address" class="form-control" ngModel>
                          </div>
                        </div>

                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6"  >
                            <label for="empnuid">empnuid</label>
                            <div class="input-group">
                              <input id="empnuid" name="empnuid" class="form-control" ngModel>
                            </div>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="empnid">empnid</label>
                            <div class="input-group">
                              <input id="empnid" name="empnid" class="form-control" ngModel>
                            </div>
                          </div>

                          </div>
                          <div class="form-row">
                            <div class="form-group col-md-6"  >
                              <label for="emailid">emailid</label>
                              <div class="input-group">
                                <input id="emailid" name="emailid" class="form-control" ngModel>
                              </div>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="password">password</label>
                              <div class="input-group">
                                <input id="password" name="password" class="form-control" ngModel>
                              </div>
                            </div>

                            </div>

                            <div class="form-row">
                              <div class="form-group col-md-6"  >
                                <label for="groups">groups</label>
                                <div class="input-group">
                                  <input id="groups" name="groups" class="form-control" ngModel>
                                </div>
                              </div>
                              <div class="form-group col-md-6">
                                <label for="role">role</label>
                                <div class="input-group">
                                  <input id="role" name="role" class="form-control" ngModel>
                                </div>
                              </div>

                              </div>

                      <div class="border text-center">
                        <button data-dismiss="modal" class="btn btn-info">Submit</button>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">

                    <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
                  </div>
                </ng-template>



                <ng-template #contentDeatils let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title1">Deatils</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                <form>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label> id</label>
                      <div class="input-group">
                        <input id="id" class="form-control" readonly>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="empname">Name</label>
                      <div class="input-group">
                        <input id="empname" class="form-control" readonly>
                      </div>
                    </div>


                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for = "emailid"> emailid</label>
                      <div class="input-group">
                        <input id="emailid" class="form-control" readonly>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="empnid">empnid</label>
                      <div class="input-group">
                        <input id="empnid" class="form-control" readonly>
                      </div>
                    </div>


                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for = "empnuid"> empnuid</label>
                      <div class="input-group">
                        <input id="empnuid" class="form-control" readonly>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="dept">dept</label>
                      <div class="input-group">
                        <input id="dept" class="form-control" readonly>
                      </div>
                    </div>


                  </div>

                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for = "role"> role</label>
                      <div class="input-group">
                        <input id="role" class="form-control" readonly>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="password">password</label>
                      <div class="input-group">
                        <input id="password" class="form-control" readonly>
                      </div>
                    </div>


                  </div>
                  <div class="form-row">

                  <div class="form-group col-md-6">
                    <label for="groups">groups</label>
                    <div class="input-group">
                      <input id="groups" class="form-control" readonly>
                    </div>
                  </div>

                    <div class="form-group col-md-6">
                      <label for="address">address</label>
                      <div class="input-group">
                        <input id="address" class="form-control" readonly>
                      </div>
                    </div>


                  </div>








                </form>
                  </div>
                  <div class="modal-footer">

                    <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
                  </div>
                </ng-template>


                <ng-template #contentEdit let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title" id="modal-basic-title2">Edit</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <form [formGroup]="editForm" novalidate  >

                    <div class="form-row">
                     <div class="form-group col-md-6">
                        <label for="empnid">empnid</label>
                        <div class="input-group">
                          <input formControlName="empnid" class="form-control">

                        </div>
                      </div>

                      <div class="form-group col-md-6">
                        <label for="empname">empname</label>
                        <div class="input-group">
                          <input formControlName="empname" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                         <label for="empnuid">empnuid</label>
                         <div class="input-group">
                           <input formControlName="empnuid" class="form-control">

                         </div>
                       </div>

                       <div class="form-group col-md-6">
                         <label for="groups">groups</label>
                         <div class="input-group">
                           <input formControlName="groups" class="form-control">
                         </div>
                       </div>
                     </div>

                     <div class="form-row">
                      <div class="form-group col-md-6">
                         <label for="emailid">emailid</label>
                         <div class="input-group">
                           <input formControlName="emailid" class="form-control">

                         </div>
                       </div>

                       <div class="form-group col-md-6">
                         <label for="password">password</label>
                         <div class="input-group">
                           <input formControlName="password" class="form-control">
                         </div>
                       </div>
                     </div>

                     <div class="form-row">
                      <div class="form-group col-md-6">
                         <label for="role">role</label>
                         <div class="input-group">
                           <input formControlName="role" class="form-control">

                         </div>
                       </div>

                       <div class="form-group col-md-6">
                         <label for="dept">dept</label>
                         <div class="input-group">
                           <input formControlName="dept" class="form-control">
                         </div>
                       </div>
                     </div>

                     <div class="form-row">
                      <div class="form-group col-md-6">
                         <label for="address">address</label>
                         <div class="input-group">
                           <input formControlName="address" class="form-control">

                         </div>
                       </div>


                     </div>




                  <div class="border text-center"> <button data-dismiss="modal" (click)="onSave()" class="btn btn-info">Save Changes</button> </div>
                </form>
                  </div>
                  <div class="modal-footer">

                    <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button> -->
                  </div>
                </ng-template>
                <ng-template #contentDelete let-modal>
                  <div class="modal-header">
                    <h4 class="modal-title">Confirm Delete</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <h2>Are you sure you want to delete this record.</h2>
                    <div class="border text-center">
                      <button data-dismiss="modal" class="btn btn-danger" (click)="onDelete()">Yes, Delete!</button>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cancel</button>
                  </div>
                </ng-template>



							</ng-template>
						</ngb-tab>


					</ngb-tabset>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Container-fluid Ends -->
