<div  >
  <div id="wrapper">
    <div id="chart-line">
      <apx-chart
        [series]="chartOptions13.series"
        [chart]="chartOptions13.chart"
        [xaxis]="chartOptions13.xaxis"
        [dataLabels]="chartOptions13.dataLabels"
        [colors]="chartOptions13.colors"
        [fill]="chartOptions13.fill"
        [markers]="chartOptions13.markers"
        [stroke]="chartOptions13.stroke"
      ></apx-chart>
    </div>
    <div id="chart-line2">
      <apx-chart
        [series]="chartOptions14.series"
        [chart]="chartOptions14.chart"
        [xaxis]="chartOptions14.xaxis"
        [colors]="chartOptions14.colors"
        [fill]="chartOptions14.fill"
        [yaxis]="chartOptions14.yaxis"
      ></apx-chart>
    </div>
  </div>


</div>
