<!-- Container-fluid starts-->
<div class="container-fluid"    >
  <div class="card">
    <div class="card-header">
        <h5>Selection Window</h5>
    </div>
    <div class="card-body">
        <form class="needs-validation" novalidate>

            <div class="form-row">
                <div class="col-md-3 mb-3">
                  <label>Select Line</label>
                  <div class="input-group">
                      <!-- <div class="input-group-prepend">
                          <span class="input-group-text">@</span>
                      </div> -->
                      <select style="    background-color: #c3bcbc; color: #020202;" name="selectedQuantity" id="aantal" class="form-control" (change)='onOptionsSelected(selectedQuantity)' [(ngModel)]="selectedQuantity">
                        <option  style="    background-color: #c3bcbc; color: #020202;" *ngFor="let option of options1" [value]="option" >{{option}}</option>
                    </select>
                  </div>

                </div>
                <div class="col-md-3 mb-3">
                  <label for="validationCustom03">Machine</label>
                  <label>Select Machine</label>
                  <div class="input-group" >
                    <select style="    background-color: #c3bcbc; color: #020202;" name="selectedQuantitys" id="aantal" class="form-control"  (change)='onOptionsSelecteds(selectedQuantitys)' [(ngModel)]="selectedQuantitys">
                      <option  style="    background-color: #c3bcbc; color: #020202;"  *ngFor="let option of options" [value]="option" >{{option}}</option>
                  </select>
                  </div>

              </div>

                <div class="col-md-3 mb-3">
                    <label for="validationCustom05">From Date</label>

                    <input class="form-control" placeholder="yyyy-mm-dd"
                    name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
             <div class="input-group-append">
               <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
             </div>

                </div>
                <div class="col-md-3 mb-3">
                  <label for="validationCustom05">To Date</label>

                  <input class="form-control" placeholder="yyyy-mm-dd"
                  name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
           <div class="input-group-append">
             <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
           </div>

              </div>
            </div>

<ng-select [items]="categories"
bindLabel="name"
placeholder="Select Category"
appendTo="body"
[multiple]="true"
[(ngModel)]="selected">
</ng-select>



            <button class="btn btn-primary"  (click)="getSelectedValue()" type="submit">Submit
                form</button>
        </form>
    </div>
</div>

<div class="row" >
  <div class="col-sm-6 col-xl-6">

    <div class="card card-absolute">
      <div class="card-header bg-primary">
        <h5>Health Value of  CHANNEL 5
        </h5>
      </div>
      <div class="row" style="background-color: ghostwhite;     margin: auto;     width: 100%;  ">
        <div class="col-sm">

          <app-treand1></app-treand1>

      </div>

</div>
    </div>


  </div>
  <div class="col-sm-6 col-xl-6">

    <div class="card card-absolute">
      <div class="card-header bg-primary">
        <h5>Health Value of  CHANNEL 5
        </h5>
      </div>
      <div class="row" style="background-color: ghostwhite;     margin: auto;     width: 100%;  ">
        <div class="col-sm">

          <app-treand2></app-treand2>


      </div>

</div>
    </div>


  </div>


</div>
</div>
<div class="row" >
  <div class="col-sm-6 col-xl-6">

    <div class="card card-absolute">
      <div class="card-header bg-primary">
        <h5>Health Value of  CHANNEL 5
        </h5>
      </div>
      <div class="row" style="background-color: ghostwhite;     margin: auto;     width: 100%;  ">
        <div class="col-sm">

        <div  >
          <app-treand3></app-treand3>



        </div>

      </div>

</div>
    </div>


  </div>
  <div class="col-sm-6 col-xl-6">

    <div class="card card-absolute">
      <div class="card-header bg-primary">
        <h5>Health Value of  CHANNEL 5
        </h5>
      </div>
      <div class="row" style="background-color: ghostwhite;     margin: auto;     width: 100%;  ">
        <div class="col-sm">

        <app-treand4></app-treand4>

      </div>

</div>
    </div>


  </div>


</div>







