<div  >
  <div id="wrapper">
    <div id="chart-line">
      <apx-chart
        [series]="chartOptions17.series"
        [chart]="chartOptions17.chart"
        [xaxis]="chartOptions17.xaxis"
        [dataLabels]="chartOptions17.dataLabels"
        [colors]="chartOptions17.colors"
        [fill]="chartOptions17.fill"
        [markers]="chartOptions17.markers"
        [stroke]="chartOptions17.stroke"
      ></apx-chart>
    </div>
    <div id="chart-line2">
      <apx-chart
        [series]="chartOptions18.series"
        [chart]="chartOptions18.chart"
        [xaxis]="chartOptions18.xaxis"
        [colors]="chartOptions18.colors"
        [fill]="chartOptions18.fill"
        [yaxis]="chartOptions18.yaxis"
      ></apx-chart>
    </div>
  </div>


</div>
