



   <div class="card">
    <div class="table-responsive current-progress">

    <app-linemark></app-linemark>
    </div>
   </div>



    <div class="container-fluid" style="    background-color: #c3e5f7;">
      <div class="row">






    <div class="col-sm-12">
      <div class="card">
        <!-- <div class="card-header">
          <h5>Current Progress</h5>
        </div> -->
        <div class="card-body">
          <div class="table-responsive current-progress">
            <table class="table table-bordernone">
              <tbody>
                <tr>
                  <td>
                    <div class="d-inline-block align-middle"><img
                        class="img-radius img-50 align-top m-r-15 rounded-circle"
                        src="assets/images/user/1.jpg" alt="">
                      <div class="d-inline-block">
                        <h6>Select Machine</h6>
                        <!-- <p>Design & development</p> -->
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <label for="exampleFormControlSelect17">Plant</label>
                      <select class="form-control input-air-primary digits"
                          id="exampleFormControlSelect17">

                          <option>SKF BNG</option>
                      </select>

          </div>
                  </td>
                  <td>
                    <div class="form-group">
                      <label for="exampleFormControlSelect17">Line</label>
                      <select class="form-control input-air-primary digits"
                          id="exampleFormControlSelect17" (change)="changeProject(selectedQuantity)" class="form-control" [(ngModel)]="selectedQuantity"  >
                          <option *ngFor="let option of options" [value]="option.name" >{{option.name}}</option>
                        <div class='row' [ngSwitch]="selectedQuantity">

                                            </div>

                      </select>

          </div>
                  </td>
                  <td>


                    <!-- <div class="form-group">
                      <label for="exampleFormControlSelect17">Machine</label>
                      <select class="form-control input-air-primary digits"
                          id="exampleFormControlSelect17" (change)="changeProject(selectedQuantity)" class="form-control" [(ngModel)]="selectedQuantity"  >
                          <option *ngFor="let option of options" [value]="option.name" >{{option.name}}</option>
                        <div class='row' [ngSwitch]="selectedQuantity">

                                            </div>

                      </select>

          </div> -->
                  <td>
                    <button class="btn btn-outline-success" type="button" placement="top"
                    ngbTooltip="btn btn-outline-success">Submit</button>

                    </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>


    <!--
      <div class="container-fluid">
        <div class="row" id="project">
          <div class="card" style="    margin: 20px;" >

            <div class="card-body ecommerce-icons text-center">
              <div class="row" class="owl-carousel owl-theme owl-loaded owl-drag" id="owl-carousel-14" >
    <div class="card" class="row"   >

      <app-spark-line *ngFor="let elem of myData" [name]="elem.name" [data]="elem.data"  [text]="elem.text" carouselSlide [id]="elem.name" class="font-primary mb-0 counter" [CountTo]=elem.number [from]="0" [duration]="0.5"></app-spark-line>

      <h4 ></h4>
    </div>

      </div>
      </div>
    </div>
    </div> -->




    <!-- <div class="container-fluid">
      <div class="row" id="project">
        <div class="col-sm-12">
          <ngb-tabset>
            <ngb-tab  *ngFor="let slideS of machineinline">
              <ng-template ngbTabTitle class="nav-item">
                <app-feather-icons [icon]="'home'" class="custom-ic"></app-feather-icons>Live Data
                <div class="material-border"></div>
              </ng-template>
              <ng-template ngbTabContent class="tab-content">
                <div class="row">
                <div class="owl-carousel owl-theme owl-loaded owl-drag" id="owl-carousel-14" >
                  <owl-carousel-o >
                      <ng-template carouselSlide [id]="slide.property"  *ngFor="let elem of myData">
                        <div class="item" >
                          <div class="card" style="    margin: 20px;" >
                            <div class="card-body ecommerce-icons text-center">


                              <app-spark-line [name]="elem.name" [data]="elem.data"></app-spark-line>

                              <h4 class="font-primary mb-0 counter" [CountTo]=slide.number [from]="0" [duration]="0.5"></h4>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                  </owl-carousel-o>
                </div>
             </div>

              </ng-template>
            </ngb-tab>

          </ngb-tabset>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="owl-carousel owl-theme owl-loaded owl-drag" id="owl-carousel-14">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide [id]="elem.id"  *ngFor="let elem of myData">
              <div class="item">
                <div class="card">
                  <div class="card-body ecommerce-icons text-center">

      <app-spark-line  [name]="elem.name" [data]="elem.data"  [text]="elem.text" carouselSlide [id]="elem.name" class="font-primary mb-0 counter" [CountTo]=elem.number [from]="0" [duration]="0.5"></app-spark-line>
      <h4 class="font-primary mb-0 counter" [CountTo]=elem.number [from]="0" [duration]="0.5"></h4>
    </div>
                </div>
              </div>
            </ng-template>
        </owl-carousel-o>
      </div>


      <div class="container-fluid">
        <div class="row" id="project">
          <div class="col-sm-12">

            <ngb-tabset>

              <ngb-tab  *ngFor="let slideS of machineinline">
                <ng-template ngbTabTitle class="nav-item">
                  <app-feather-icons [icon]="'home'" class="custom-ic"></app-feather-icons>Live Data
                  <div class="material-border"></div>
                </ng-template>
                <ng-template ngbTabContent class="tab-content">
                  <div class="row">
                  <div class="owl-carousel owl-theme owl-loaded owl-drag" id="owl-carousel-14" >
                    <owl-carousel-o  [options]="customOptions">
                        <ng-template carouselSlide [id]="slide.property"  *ngFor="let slide of slideS">
                          <div class="item" >
                            <div class="card" style="    margin: 20px;" >
                              <div class="card-body ecommerce-icons text-center">

                                <div><span>{{slide.name}}</span></div>
                                <div><span>{{slide.property}}</span></div>
                                <div><span>{{slide.realtimeval}}</span></div>
                                <div><span>{{slide.units}}</span></div>

                                <h4 class="font-primary mb-0 counter" [CountTo]=slide.number [from]="0" [duration]="0.5"></h4>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                    </owl-carousel-o>
                  </div>
               </div>

                </ng-template>
              </ngb-tab>
              <!-- <ngb-tab>
                <ng-template ngbTabTitle class="nav-item">
                  <app-feather-icons [icon]="'activity'" class="custom-ic"></app-feather-icons>Budget Summary
                  <div class="material-border"></div>
                </ng-template>
                <ng-template ngbTabContent class="tab-content">
                  <div class="tab-pane fade show" id="budget" role="tabpanel" aria-labelledby="budget">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="card">
                          <div class="card-header">
                            <h5>Current Progress</h5>
                          </div>
                          <div class="card-body">
                            <div class="table-responsive current-progress">
                              <table class="table table-bordernone">
                                <tbody>
                                  <tr>
                                    <td>
                                      <div class="d-inline-block align-middle"><img
                                          class="img-radius img-50 align-top m-r-15 rounded-circle"
                                          src="assets/images/user/1.jpg" alt="">
                                        <div class="d-inline-block">
                                          <h6>Web application</h6>
                                          <p>Design & development</p>
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="d-inline-block align-middle"><span>Latest Updated Today at 1:30
                                          PM</span><span class="ml-current"><i class="fa fa-clock-o"></i>10:32</span><span
                                          class="ml-current"><i class="fa fa-comment"></i>540</span></div>
                                    </td>
                                    <td>
                                      <div class="progress sm-progress-bar">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 60%"
                                          aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="d-inline-block align-middle"><img
                                          class="img-radius img-50 align-top m-r-15 rounded-circle"
                                          src="assets/images/user/4.jpg" alt="">
                                        <div class="d-inline-block">
                                          <h6>Login module</h6>
                                          <p>Development</p>
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="d-inline-block align-middle"><span>Latest Updated Today at 4:00
                                          PM</span><span class="ml-current"><i class="fa fa-clock-o"></i>1:32</span><span
                                          class="ml-current"><i class="fa fa-comment"></i>700</span></div>
                                    </td>
                                    <td>
                                      <div class="progress sm-progress-bar">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 50%"
                                          aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="d-inline-block align-middle"><img
                                          class="img-radius img-50 align-top m-r-15 rounded-circle"
                                          src="assets/images/user/7.jpg" alt="">
                                        <div class="d-inline-block">
                                          <h6>Module testing</h6>
                                          <p>Testing</p>
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                      <div class="d-inline-block align-middle"><span>Latest Updated Today at 5:45
                                          PM</span><span class="ml-current"><i class="fa fa-clock-o"></i>11:40</span><span
                                          class="ml-current"><i class="fa fa-comment"></i>425</span></div>
                                    </td>
                                    <td>
                                      <div class="progress sm-progress-bar">
                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 90%"
                                          aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 xl-100">
                        <div class="card">
                          <div class="card-header">
                            <h5>Budget Distribution</h5>
                          </div>
                          <div class="card-body chart-block">
                            <div class="flot-chart-container budget-chart">
                              <google-chart [data]="pieChart1"></google-chart>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6 xl-100">
                        <div class="card">
                          <div class="card-header project-header">
                            <div class="row">
                              <div class="col-sm-8">
                                <h5>Spent</h5>
                              </div>
                              <div class="col-sm-4">
                                <div class="select2-drpdwn-project select-options">
                                  <select class="form-control form-control-primary btn-square" name="select">
                                    <option value="opt1">Today</option>
                                    <option value="opt2">Yesterday</option>
                                    <option value="opt3">Tomorrow</option>
                                    <option value="opt4">Monthly</option>
                                    <option value="opt5">Weekly</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-body spent">
                            <div class="spent-graph">
                              <div class="d-flex">
                                <div class="project-budget">
                                  <h6>Weekly spent</h6>
                                  <h2 class="mb-0"><span><i data-feather="dollar-sign"></i>12,5000</span></h2>
                                </div>
                                <div class="projects-main mb-0">
                                  <x-chartist [data]="barChartSingle1.data" [type]="barChartSingle1.type"
                                    [options]="barChartSingle1.options">
                                  </x-chartist>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-body spent">
                            <div class="spent-graph">
                              <div class="d-flex">
                                <div class="project-budget">
                                  <h6>Total spent</h6>
                                  <h2 class="mb-0"><span><i data-feather="dollar-sign"></i>15,7452</span></h2>
                                </div>
                                <div class="projects-main mb-0">
                                  <x-chartist [data]="barChartSingle2.data" [type]="barChartSingle2.type"
                                    [options]="barChartSingle2.options">
                                  </x-chartist>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-body spent">
                            <div class="spent-graph">
                              <div class="d-flex">
                                <div class="project-budget">
                                  <h6>Remaining</h6>
                                  <h2 class="mb-0"><span><i data-feather="dollar-sign"></i>18,5438</span></h2>
                                </div>
                                <div class="projects-main mb-0">
                                  <x-chartist [data]="barChartSingle3.data" [type]="barChartSingle3.type"
                                    [options]="barChartSingle3.options">
                                  </x-chartist>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer spent">
                            <div class="spent-graph">
                              <div class="d-flex">
                                <div class="project-budget m-0">
                                  <h6>Total Budget</h6>
                                  <h2 class="mb-0"><span><i data-feather="dollar-sign"></i>34,5812</span></h2>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle class="nav-item">
                  <app-feather-icons [icon]="'users'" class="custom-ic"></app-feather-icons>Team Members
                  <div class="material-border"></div>
                </ng-template>
                <ng-template ngbTabContent class="tab-content">
                  <div class="tab-pane fade show" id="team-members" role="tabpanel" aria-labelledby="team-members">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="card">
                          <div class="card-header">
                            <h5>Team Members</h5>

                          </div>
                          <div class="card-body">
                            <div class="table-responsive sellers team-members">
                              <table class="table table-bordernone">
                                <thead>
                                  <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Position</th>
                                    <th scope="col">Office</th>
                                    <th scope="col">E-Mail</th>
                                    <th scope="col">Phone</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>
                                      <div class="d-inline-block align-middle"><img
                                          class="img-radius img-50 align-top m-r-15 rounded-circle"
                                          src="assets/images/user/6.jpg" alt="">
                                        <div class="d-inline-block">
                                          <p>Jerry Patterson</p>
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                      <p>Design Manager</p>
                                    </td>
                                    <td>
                                      <p>Integer</p>
                                    </td>
                                    <td>
                                      <p>jerry13@gmail.com</p>
                                    </td>
                                    <td>
                                      <p>+91 264 570 4611</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="d-inline-block align-middle"><img
                                          class="img-radius img-50 align-top m-r-15 rounded-circle"
                                          src="assets/images/user/2.png" alt="">
                                        <div class="d-inline-block">
                                          <p>Rosa Matthews</p>
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                      <p>Director of Sales</p>
                                    </td>
                                    <td>
                                      <p>Ipsum</p>
                                    </td>
                                    <td>
                                      <p>ros456@gmail.com</p>
                                    </td>
                                    <td>
                                      <p>+01 967 487 1873</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="d-inline-block align-middle"><img
                                          class="img-radius img-50 align-top m-r-15 rounded-circle"
                                          src="assets/images/user/3.jpg" alt="">
                                        <div class="d-inline-block">
                                          <p>Alvaro Aguirre</p>
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                      <p>Office Assistant</p>
                                    </td>
                                    <td>
                                      <p>Praesent</p>
                                    </td>
                                    <td>
                                      <p>alvar76@gmail.com</p>
                                    </td>
                                    <td>
                                      <p>+48 724 585 0012</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="d-inline-block align-middle"><img
                                          class="img-radius img-50 align-top m-r-15 rounded-circle"
                                          src="assets/images/user/15.png" alt="">
                                        <div class="d-inline-block">
                                          <p>Jerry Patterson</p>
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                      <p>Programmer Analyst</p>
                                    </td>
                                    <td>
                                      <p>Ipsum</p>
                                    </td>
                                    <td>
                                      <p>jerry13@gmail.com</p>
                                    </td>
                                    <td>
                                      <p>+91 264 570 4611</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="d-inline-block align-middle"><img
                                          class="img-radius img-50 align-top m-r-15 rounded-circle"
                                          src="assets/images/user/4.jpg" alt="">
                                        <div class="d-inline-block">
                                          <p>Anne Snyder</p>
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                      <p>Social Worker</p>
                                    </td>
                                    <td>
                                      <p>Donec</p>
                                    </td>
                                    <td>
                                      <p>annsny@gmail.com</p>
                                    </td>
                                    <td>
                                      <p>+61 480 087 1175</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                      <div class="d-inline-block align-middle"><img
                                          class="img-radius img-50 align-top m-r-15 rounded-circle"
                                          src="assets/images/user/5.jpg" alt="">
                                        <div class="d-inline-block">
                                          <p>Alana Slacker</p>
                                        </div>
                                      </div>
                                    </td>
                                    <td>
                                      <p>Systems Engineer</p>
                                    </td>
                                    <td>
                                      <p>Etiam</p>
                                    </td>
                                    <td>
                                      <p>alana82@gmail.com</p>
                                    </td>
                                    <td>
                                      <p>+75 483 761 4680</p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-tab> -->
            </ngb-tabset>
          </div>
        </div>
      </div>

    </div>

    </div>
