<div  >
  <div id="wrapper">
    <div id="chart-line">
      <apx-chart
        [series]="chartOptions11.series"
        [chart]="chartOptions11.chart"
        [xaxis]="chartOptions11.xaxis"
        [dataLabels]="chartOptions11.dataLabels"
        [colors]="chartOptions11.colors"
        [fill]="chartOptions11.fill"
        [markers]="chartOptions11.markers"
        [stroke]="chartOptions11.stroke"
      ></apx-chart>
    </div>
    <div id="chart-line2">
      <apx-chart
        [series]="chartOptions12.series"
        [chart]="chartOptions12.chart"
        [xaxis]="chartOptions12.xaxis"
        [colors]="chartOptions12.colors"
        [fill]="chartOptions12.fill"
        [yaxis]="chartOptions12.yaxis"
      ></apx-chart>
    </div>
  </div>


</div>
