<div  >
  <div id="wrapper">
    <div id="chart-line">
      <apx-chart
        [series]="chartOptions15.series"
        [chart]="chartOptions15.chart"
        [xaxis]="chartOptions15.xaxis"
        [dataLabels]="chartOptions15.dataLabels"
        [colors]="chartOptions15.colors"
        [fill]="chartOptions15.fill"
        [markers]="chartOptions15.markers"
        [stroke]="chartOptions15.stroke"
      ></apx-chart>
    </div>
    <div id="chart-line2">
      <apx-chart
        [series]="chartOptions16.series"
        [chart]="chartOptions16.chart"
        [xaxis]="chartOptions16.xaxis"
        [colors]="chartOptions16.colors"
        [fill]="chartOptions16.fill"
        [yaxis]="chartOptions16.yaxis"
      ></apx-chart>
    </div>
  </div>


</div>
