.card-header{
    height: 2vh;
    /* background: bisque; */
    padding: 20px;
}
.buttonallignment{
    margin: auto;
    /* display: flex; */
    margin-top: 3%;
}
.paths{
    height: 366px;
    // border-radius: 26px;
    background: lightgray;
    width: 100%;
    margin: 0px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}